# INFS 770 - Advanced Data Mining Application
## Assignment 2
### John Herbert

## 0: Import Libraries

In [1]:
import pandas as pd
import numpy as np
# import the functions for cosine distance, euclidean distance, and the correlation distance
from scipy.spatial.distance import cosine, euclidean
# For split between training and validation set
from sklearn.model_selection import train_test_split

## 1: Import Data and Report Unique Users and Books

In [2]:
# importing the dataset for the questions
dbook_df = pd.read_csv('DBbook_train_ratings.tsv',sep='\t')
# The head command shows the top 5 rows in the data set
print(dbook_df.head())
print('\nTotal Reviews: %d' % len(dbook_df))
# The unique command shows the total of unique values per variable
print('Unique Users: %d' % len(dbook_df['userID'].unique()))
print('Unique Books: %d' % len(dbook_df['itemID'].unique()))

   userID  itemID  rate
0    6873    3201     4
1    6873    3098     4
2    6873    4198     4
3    6873    5950     4
4    6873     204     4

Total Reviews: 75558
Unique Users: 6181
Unique Books: 6166

## 2: Utility Matrix

In [3]:
# Using the pivot_table command to convert the data into a matrix, or itemID across the horizontal axis and
# userID across the vertical axis.
dbook_matrix = dbook_df.pivot_table(values='rate',index=['userID'],columns=['itemID'])
dbook_matrix.iloc[0:10,:]

itemID,1,2,3,5,7,8,9,11,12,13,...,8157,8160,8161,8162,8163,8164,8166,8167,8168,8169
userID,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sum_nan = sum(np.isnan(dbook_matrix))
perc_nan = sum_nan/(len(dbook_matrix)*len(dbook_matrix.columns))
print('The number of missing values is %d' % sum_nan)
print('The percentage of missing values is %f' % (perc_nan*100))

The number of missing values is 25216759
The percentage of missing values is 66.164800

In [5]:
dbook_matrix = dbook_matrix.fillna(0)
# the .iloc command will show the positional column or rows as oppose it .loc will show the named column or row. 
# Showing the first 10 records in the matrix
dbook_matrix.iloc[0:10,:]

itemID,1,2,3,5,7,8,9,11,12,13,...,8157,8160,8161,8162,8163,8164,8166,8167,8168,8169
userID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 3: 5 Similar Users to User 2

In [6]:
def top_k_users(user_number, k):
    # no need to transpose the matrix this time because the rows already represent users
    # remove the active user
    df_sim = dbook_matrix.loc[dbook_matrix.index != user_number]
    # calculate the distance for between the given user and each row
    df_sim["distance"] = df_sim.apply(lambda x: euclidean(dbook_matrix.loc[user_number], x), axis=1)
    # return the top k from the sorted distances
    return df_sim.sort_values(by="distance").head(k)["distance"] 

# Shows the top 5 users closest to user 2
print('Top 5 similar users to UserID 2')
print(top_k_users(2,5))

Top 5 similar users to UserID 2

<ipython-input-6-209da06ed7e5>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sim["distance"] = df_sim.apply(lambda x: euclidean(dbook_matrix.loc[user_number], x), axis=1)

userID
3917    11.401754
6875    12.569805
986     12.806248
1983    12.884099
1156    12.922848
Name: distance, dtype: float64

## 4: Euclidean Distances Continued

In [7]:
dbook_matrix.loc[:,18]

userID
1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
       ...
7251    0.0
7252    0.0
7253    0.0
7254    0.0
7255    0.0
Name: 18, Length: 6181, dtype: float64

In [8]:
# Similarity between itemID 18 vs. itemID 1
print('The euclidean distance between item ID 18 and 1 is %0.2f' % euclidean(dbook_matrix.loc[:,18], dbook_matrix.loc[:,1]))
# Similarity between itemID 36 vs. itemID 1
print('The euclidean distance between item ID 36 and 1 is %0.2f' % euclidean(dbook_matrix.loc[:,36], dbook_matrix.loc[:,1]))
print('ItemID 18 is more similar to ItemID 1 becuase the euclidean distance is smaller than that of ItemID 36. Euclidean distance measures that length of the line segment that connects 2 points.')

The euclidean distance between item ID 18 and 1 is 29.19
The euclidean distance between item ID 36 and 1 is 40.12
ItemID 18 is more similar to ItemID 1 becuase the euclidean distance is smaller than that of ItemID 36. Euclidean distance measures that length of the line segment that connects 2 points.

## 5: 5 Similar Items to ItemID 8010

In [9]:
def top_k_items(item_number, k):
    # copy the dense matrix and transpose it so each row represents an item
    df_sim = dbook_matrix.transpose()
    # remove the active item 
    df_sim = df_sim.loc[df_sim.index != item_number]
    # calculate the distance between the given item for each row (apply the function to each row if axis = 1)
    df_sim["distance"] = df_sim.apply(lambda x: euclidean(dbook_matrix[item_number], x), axis=1)
    # return the top k from the sorted distances
    return df_sim.sort_values(by="distance").head(k)["distance"] 

# Shows the top 5 closest items to item 8010
print('Top 5 similar items to ItemID 8010')
top_k_items(8010,5)

Top 5 similar items to ItemID 8010

itemID
3711    127.921851
4559    127.964839
330     129.715072
1311    129.722781
7328    129.761319
Name: distance, dtype: float64

## 6: Utility Matrix Less 20 Ratings Score

In [10]:
# Grouping each item and user by the total reviews it has or has given
df_item_fre = dbook_df.groupby("itemID").count()
df_user_fre = dbook_df.groupby("userID").count()
# Creating an index for users and items that have more than than 20 reviews
selected_items = df_item_fre[df_item_fre["userID"]>20].index
# Creating a new matrix with only users that have more than 20 reviews
dbook_matrix2 = dbook_matrix[selected_items]
selected_users = df_user_fre[df_user_fre["itemID"]>20].index
# Creating a new matrix with only items that have more than 20 reviews
dense_matrix2 = dbook_matrix2.loc[selected_users]
print('The shape of the updated matrix is ',dense_matrix2.shape)

The shape of the updated matrix is  (766, 776)

## 7: ItemID 8010 w/out NaN

In [11]:
dbook_matrix_org = dbook_df.pivot_table(values='rate',index=['userID'],columns=['itemID'])
# Using the orginal matrix with all items and users to filter the new matrix for just user 8010. This is because
# in an earlier step, we converted NaN to 0, when there was 1 review given that was a zero.
dbook_matrix_adj = dense_matrix2[dbook_matrix_org[8010].notna()]

print('The value counts for itemID 8010 is\n',dbook_matrix_adj[8010].value_counts().sort_index(),'\n')
print('The shape if the adjsuted matrix is ',dbook_matrix_adj.shape)

The value counts for itemID 8010 is
 0.0     1
1.0     8
2.0    13
3.0    27
4.0    68
5.0    58
Name: 8010, dtype: int64

The shape if the adjsuted matrix is  (175, 776)

<ipython-input-11-a51b19a350a7>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dbook_matrix_adj = dense_matrix2[dbook_matrix_org[8010].notna()]

## 8: Data Partition Test/Validation

In [12]:
dbook_x = dbook_matrix_adj[[col for col in dbook_matrix_adj.columns if col != 8010]]
dbook_Y = dbook_matrix_adj[8010]
# Splitting the new data set into x and Y by removing userID 8010 and the nrandomly splitting the data
# for 25% to test set and 75% to the training set
train_x,test_x,train_Y,test_Y = train_test_split(dbook_x,dbook_Y, test_size=0.25, random_state=42)
print('The shape of train_x is',train_x.shape)
print('The shape of test_x is',test_x.shape)
print('The shape of train_Y is',train_Y.shape)
print('The shape of test_Y is',test_Y.shape,'\n\n')
print('The average rating of itemID 8010 in the training set is {:0.2f}'.format(train_Y.mean()))
print('The average rating of itemID 8010 in the test set is {:0.2f}'.format(test_Y.mean()))

The shape of train_x is (131, 775)
The shape of test_x is (44, 775)
The shape of train_Y is (131,)
The shape of test_Y is (44,)


The average rating of itemID 8010 in the training set is 3.98
The average rating of itemID 8010 in the test set is 3.55

## 9: Predict Rating Based on 5 Most Similar Users

In [13]:
# Converting the data sets to data frames for the below function to predict based on similar distance
df_train_x = pd.DataFrame(train_x, columns=dbook_x.columns)
df_test_x = pd.DataFrame(test_x, columns=dbook_x.columns)
df_train_Y = pd.DataFrame(train_Y, columns=[8010])
df_test_Y = pd.DataFrame(test_Y, columns=[8010])

k = 5

def user_based_predict(user_number):
    # retrieve the top k similar users
    # copy from all the training predictors
    df_sim = df_train_x.copy()
    # for each user, calculate the distance between this user and the active user
    df_sim["distance"] = df_sim.apply(lambda x: euclidean(df_test_x.loc[user_number], x), axis=1)
    # create a new data frame to store the top k similar users
    df_sim_users = df_sim.loc[df_sim.sort_values(by="distance").head(k).index]
    # calculate these similar users' rating on 8010, weighted by distance
    df_sim_users["weighed_d"] = list(map(lambda x: df_sim_users.loc[x]["distance"]*df_train_Y.loc[x][8010], df_sim_users.index))
    predicted = df_sim_users["weighed_d"].sum()/df_sim_users["distance"].sum()
    return predicted

In [14]:
df_test_x2 = df_test_x.iloc[[4]]
print('The name of the user in the 5th row is ',df_test_x2.index.tolist())

The name of the user in the 5th row is  [6220]

In [15]:
print('User 6220 predicted rating for item 8010 is {:0.2f}'.format(user_based_predict(6220)),'\n')
print('User 6220 actual rating for item 8010 is {:0.2f}'.format(df_train_Y.iloc[4,0]))

User 6220 predicted rating for item 8010 is 3.20

User 6220 actual rating for item 8010 is 5.00

## 10: CBF and MBCF Explanations

1. Content based filtering is a recommender method that uses items rated by a user to recommend new items that are similar to those items. This will give higher weights to items that are similar to those that are higher rated by the user by using the dot product . This is done using key characteristics/ features of the item. For example, if it is a movie recommender system, you could use features shuch as actors, directors, genre of film, etc. The advantages of this system is that is applicable for new items and you can calculated a top 5 similar items. The disadvantages is some of the features may not describe or predict an item very well and you cannot make recommendations to new users that have not rated any items.

2. Model-based collaborative filtering is a recommender method that can be user based or item based. User based predicts a specific user's rating of a item based on the ratings of similar users. Item based predicts a specific user's rating based on the rating of similar items. This uses a gradient descent learning algorthm to determine the similarity between items or users. A major advantage of collaborative filtering is that no knowedge of user's item preferences are needed to learn. A major disadvantage is that it cannot handle new items with no ratings from user's very well.

3. The main differences between content-based filtering (CBF) and model-based collaborative filtering (MBCF) is that CBF needs user preferences, i.e. other item ratings in order to give recommendations, while MBCF does not. Another difference is that CBF can handle new items as it will use similar features to make recommendations, however MBCF cannot handle new items and needs item ratings in order to make predictions.